  @import "./assets/styles/breakpoints.scss";
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Style+Script&display=swap');
  @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

  html {
    font-family: 'Roboto', sans-serif;
    background: url('/assets/platter.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
